.userDisplayContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    overflow: visible;
    aspect-ratio: 1/1;
}
.iconContainer {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.icon {
    font-size: 55px;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    align-items: center;
    border: 1px dashed black;
}

.userName {
    font-size: 15px;
    font-weight: 600;
}

.diceRollerContainer {
    /* height: 100px; */
    /* border: 1px solid blue; */
}

.buttonContainer {
    height: 60px;
}