@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@import 'tailwindcss';

@theme {
  --color-brand: #4f46e5;
  --color-brand-light: #6366f1;
  --color-brand-dark: #3730a3;
  
  --color-accent: #f97316;
} 