.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 500px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* flex-shrink: 0; */

    /* Prevent card from resizing on desktop */
    /* max-width: 400px; */
    /* min-width: 300px; */
    /* max-height: 500px; */
    /* min-height: 350px; */
    margin: auto;
}
/* .error_message {
    color: red;

    bottom: -10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
} */

.error_message {
    color: red;
    min-height: 20px; /* Always reserve space */
    text-align: center;
    font-size: 14px;
}


.form_group {
    display: flex;             /* Enable Flexbox */
    flex-direction: column;    /* Stack elements vertically */
    justify-content: center;   /* Center vertically */
    align-items: center;       /* Center horizontally */
    overflow-y: auto;
    width: 70%;
    margin: auto;
    height: 100vh;             /* Full viewport height for vertical centering */
}

.form_group * {
    margin: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}
