
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1); /* Darken the background */
    backdrop-filter: blur(10px); /* Add a blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above everything */
}

.container {
    border: 1px solid var(--color-neutral-300);
    width: 100%;
    max-width: var(--container-sm);
    min-height: var(--container-sm);
    padding: var(--space-2xl)

}

.diceSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.die {
    border: 3px solid rgba(0,0,0,0);
    /* margin: var(--space-xs); */
    border-radius: var(--radius-xl);
    transition: border 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width: 100%;
}

.die img {
    height: var(--text-4xl);
    display: block;
}

.die:hover {
    cursor: pointer;
    border: 3px solid var(--color-primary-300);
}

.selectedDie, .selectedCount {
    position: absolute;
    inset: -4px;
    z-index: 1;
    border: 3px solid var(--color-primary-500);
    border-radius: var(--radius-xl);

}

.countSelector {
    margin: var(--space-xs);
    border-radius: var(--radius-xl);
    display: flex;
    flex-direction:row;
    align-items: stretch;
    justify-content: space-between;
    font-size: var(--text-xl);
    box-shadow:  0 2px 4px hsla(0, 0%, 100%, 0.15),
                0 2px 4px hsla(0, 0%, 0%, 0.1);
    background: var(--color-neutral-200);
    width: 100%;
    flex-wrap: wrap;

}

.count {
    padding: var(--space-md) var(--space-lg);
    border: 3px solid rgba(0,0,0,0);
    position: relative;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: var(--color-neutral-700);
    width: 100%;
}
.count:hover{
    cursor: pointer;
    border: 3px solid var(--color-primary-300);
    border-radius: var(--radius-xl);
}

.otherInput {
    flex: 1 1 0;
    border:none;
    padding: var(--space-md) var(--space-xl);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: var(--radius-xl);
    border: 1px solid var(--color-neutral-300);
    font-weight: var(--font-base);
    color: var(--color-neutral-600);
    font-size: var(--text-xs);
    background-color: var(--color-neutral-300);

}

.otherInput:hover {
    cursor: pointer;
}


@media (max-width: 640px) {
    .container {
        max-width: 80vw;
        padding: var(--space-xl);
    }

    .die img {
        height: var(--text-4xl);
        width: var(--text-4xl);
    }

    .count {
        padding: var(--space-md) var(--space-lg );
        font-size: var(--text-lg);
    }
}
