.table {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: var(--radius-xl);
    width: 80vw;    
    background-clip: padding-box;
    /* overflow: hidden; */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* side shadows */

}

.table::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  height: 10px;
  width: 100%;
  box-shadow: 0 15px 20px rgba(255, 0, 0, 0.5); /* bottom shadow in red */
  pointer-events: none;
  border-radius: 0 0 var(--radius-xl) var(--radius-xl);
}


.playerName {
    font-weight: var(--font-normal);
    font-size: var(--text-xl);
    color: var(--color-neutral-800);
    text-align: left;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--space-md) var(--space-md);
}

.oddRow {
    background-color: hsla(0, 0%, 0%, 0.05);
}

.row:last-of-type {
    border-bottom: none;
}

.footer {
    border-bottom: none;
    position: relative;
    z-index: 1;
}

.footer h3 {
    font-weight : var(--font-regular);
    color: var(--color-neutral-100);
}
.footer::before {
    background: linear-gradient(
        45deg,
        var(--color-primary-700) 0%,
        var(--color-primary-400) 100%
    );
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0 0 var(--radius-xl) var(--radius-xl);
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dieImage {
    height: var(--text-2xl);
    width: var(--text-3xl);
}  

.eggImage {
    height: var(--text-3xl);
}

.diceContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}