.container {
    /* border: black 5px solid; */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /* overflow-x: auto; */
    align-items: center;
    font-size: 25px;
}

.player_row {
    /* border: red 1px solid; */
    width: 100%;
    height: calc(1 / 6 * 100%);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    /* padding: 0 5%; */
    /* opacity: 0; */
    /* transform: translateY(20px); */
    /* transition: opacity 0.5s ease, transform 0.5s ease; */
}

.player_row.show {
    opacity: 1;
    transform: translateY(0); /* Bring it into view */
}

.player_row.hide {
    opacity: 0;
    transform: translateY(-20px); /* Slide up while fading out */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.icon_container {
    /* border: blue 1px solid; */
    /* position: absolute; */
    /* left: 5%; */
    height: 40px;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.player_icon {
    /* border: yellow 1px solid; */
    color: #000;
    font-size: 25px;
    height: 40px;
    width:40px;
    vertical-align: middle;
    text-align: center;
    /* font-size: clamp(16px, 5vw, 40px); */
    /* font-size: 120%; */
    margin:0;
    padding:0;
}

.player_name {
    /* border: green 1px solid; */
    /* position: absolute; */
    /* left: 20%; */
    width: 80%;
    display: flex;
    align-items: center;
}

.player_indicator {
    color: grey;
    font-size: 12px;
    font-weight: 400px;
    /* vertical-align: middle; */
    width: 10%;
}
